body {
    margin:auto;
    background-color:azure
}

header {
    width: 100%;
    background-color: #65a2ff;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.menu{
    margin-left:20px;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: flex-end;
}

.menu-icon {
   
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    border-radius: 10px;
    transition: 0.4s;
}
